.wrapper {
	display: flex;
	flex-direction: row;
}


.view {
	display: none;
}



.content {
	margin: 0 auto;
	.menu-name {
		color: red;
	}

	.group {
		width: 1024px;
		min-height: 200px;
		border: dashed 1px #999;
		padding: 15mm 25mm;
		position: relative;
		box-sizing: border-box;
		&__title {
			color: green;
		}
		.item {
			position: relative;
			display: flex;
			margin-bottom: 10px;
			&:hover {
				background: #ccc;
				.item__close {
					display: block;
				}
			}
			img {
			    width: 100px;
			    height: 70px;
			    border: 1px solid #666;
			    border-radius: 10px;
			    margin-left: 35px;
			}
			&__title {
				margin-bottom: 0;
				strong {
					white-space: nowrap;
				    width: 650px;
				    display: inline-block;
				    overflow: hidden;
					&::after {
						content: " ................................................................................................................................................................................................................................................................................";
						font-weight: normal;
					}
				}
			}
			&__price {
				&:before {
					content: "$";
				}
			}
			&__desc {
				margin-top: 0;
				width: 650px;
			}
			&__close {
				display: none;
				color: red;
				position: absolute;
				z-index: 1;
				right: 2px;
				top: 0;
				cursor: pointer;
				font-weight: normal;
				font-size: 14px;
			}
		}
	}
	.view {
		display: block;
	}
}



.left {
	width: 300px;
	position: relative; 
	&__menu {
		position: fixed;
		ul li {
			cursor: grab;
			padding: 5px;
			&:hover {
				background: #ddd;
			}
		}
	}
	.editor {
		position: fixed;
		z-index: 30;
		top: 170px;
		width: 300px;
		background: #ccc;
		box-sizing: border-box;
		padding: 10px;
		display: none;
		div {
			margin: 20px 0;
			label {
				display: block;
			}
			input, textarea {
				padding: 5px;
				width: 90%;
			}
			textarea {
				height: 100px;
			}
		}
	}
}

.active {
	background: #ccc;
}

.file {
	top: 200px;
	position: fixed;
	z-index: 10;
}

.modal-save, .modal-open {
	padding: 20px;
	position: fixed;
	background: #ddd;
	border: 1px solid #999;
	z-index: 20;
	top: 200px;
	display: none;
	input, button {
		padding: 5px;
	}
}

 .modal-open {
 	width: 200px;
 	select {
 		width: 100%;
 		padding: 5px;
 		margin-bottom: 10px;
 	}
 }
