.wrapper {
  display: flex;
  flex-direction: row; }

.view {
  display: none; }

.content {
  margin: 0 auto; }
  .content .menu-name {
    color: red; }
  .content .group {
    width: 1024px;
    min-height: 200px;
    border: dashed 1px #999;
    padding: 15mm 25mm;
    position: relative;
    box-sizing: border-box; }
    .content .group__title {
      color: green; }
    .content .group .item {
      position: relative;
      display: flex;
      margin-bottom: 10px; }
      .content .group .item:hover {
        background: #ccc; }
        .content .group .item:hover .item__close {
          display: block; }
      .content .group .item img {
        width: 100px;
        height: 70px;
        border: 1px solid #666;
        border-radius: 10px;
        margin-left: 35px; }
      .content .group .item__title {
        margin-bottom: 0; }
        .content .group .item__title strong {
          white-space: nowrap;
          width: 650px;
          display: inline-block;
          overflow: hidden; }
          .content .group .item__title strong::after {
            content: " ................................................................................................................................................................................................................................................................................";
            font-weight: normal; }
      .content .group .item__price:before {
        content: "$"; }
      .content .group .item__desc {
        margin-top: 0;
        width: 650px; }
      .content .group .item__close {
        display: none;
        color: red;
        position: absolute;
        z-index: 1;
        right: 2px;
        top: 0;
        cursor: pointer;
        font-weight: normal;
        font-size: 14px; }
  .content .view {
    display: block; }

.left {
  width: 300px;
  position: relative; }
  .left__menu {
    position: fixed; }
    .left__menu ul li {
      cursor: grab;
      padding: 5px; }
      .left__menu ul li:hover {
        background: #ddd; }
  .left .editor {
    position: fixed;
    z-index: 30;
    top: 170px;
    width: 300px;
    background: #ccc;
    box-sizing: border-box;
    padding: 10px;
    display: none; }
    .left .editor div {
      margin: 20px 0; }
      .left .editor div label {
        display: block; }
      .left .editor div input, .left .editor div textarea {
        padding: 5px;
        width: 90%; }
      .left .editor div textarea {
        height: 100px; }

.active {
  background: #ccc; }

.file {
  top: 200px;
  position: fixed;
  z-index: 10; }

.modal-save, .modal-open {
  padding: 20px;
  position: fixed;
  background: #ddd;
  border: 1px solid #999;
  z-index: 20;
  top: 200px;
  display: none; }
  .modal-save input, .modal-save button, .modal-open input, .modal-open button {
    padding: 5px; }

.modal-open {
  width: 200px; }
  .modal-open select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px; }
